#tabs{
    border-bottom: 0px;
}

#tabs > .dashboard-cell > .dashboard-panel{
    margin-bottom: 0px;
    border-bottom: 0px;
}

#element1 > .html{
    padding-left: 0px; /* This fixes some weirdness where the first tab doesn't look right due to the left part of the tab showing */
    padding-right: 0px;
    padding-top: 0px;
}

#tab_1 > .dashboard-cell > .dashboard-panel{
    border-top: 0px;
}
/* This makes the Details column wider to display nice
td[data-cell-index="3"] {
  min-width:220px;
}
*/
#content_table th[data-sort-key=Details] {
    min-width:220px;
}
#content_table th[data-sort-key=Status] {
    min-width:140px;
}
#content_table td:last-child,#content_table th:last-child {
    display:none;
}
span.red {
    color:red;
}
span.green {
    color:green;
}
.dashboard-form-fieldset label {
    display: inline-block;
}
.dashboard-form-fieldset label[data-original-title] {
    border: dashed #bbb;
    border-width: 0 0 1px;
}
.tooltip p {
    text-align:left;
    color:#fff;
}